
@mixin triangle($vector, $top, $right, $left, $color) {
  content: "";
  position: absolute;
  top: $top;
  right: $right;
  left: $left;
  border: 8px solid transparent;
  @if $vector == 'top' {
    border-bottom: 8px solid $color;
  } @else if $vector == 'left' {
    border-right: 8px solid $color;
  } @else if $vector == 'right' {
    border-left: 8px solid $color;
  }
}

$margin: 10px;
$adjust: -16px;
$adjust-outline: -17px;
$color: #fff;
$color-outline: #dfdfdf;

.triangle {
  border: 1px solid $color-outline;
}

.triangle-bottom-left {
  margin-top: $margin;
  &:before {
    @include triangle('top', $adjust-outline, 72%, 'initial', $color-outline);
  }
  &:after {
    @include triangle('top', $adjust, 72%, 'initial', $color);
  }
}
.triangle-bottom-middle {
  margin-top: $margin;
  &:before {
    @include triangle('top', $adjust-outline, 42%, 'initial', $color-outline);
  }
  &:after {
    @include triangle('top', $adjust, 42%, 'initial', $color);
  }
}
.triangle-bottom-right {
  margin-top: $margin;
  &:before {
    @include triangle('top', $adjust-outline, 20%, 'initial', $color-outline);
  }
  &:after {
    @include triangle('top', $adjust, 20%, 'initial', $color);
  }
}

.triangle-right-top {
  margin-left: $margin;
  &:before {
    @include triangle('left', 20%, 'initial', $adjust-outline, $color-outline);
  }
  &:after {
    @include triangle('left', 20%, 'initial', $adjust, $color);
  }
}
.triangle-right-middle {
  margin-left: $margin;
  &:before {
    @include triangle('left', 42%, 'initial', $adjust-outline, $color-outline);
  }
  &:after {
    @include triangle('left', 42%, 'initial', $adjust, $color);
  }
}
.triangle-right-bottom {
  margin-left: $margin;
  &:before {
    @include triangle('left', 80%, 'initial', $adjust-outline, $color-outline);
  }
  &:after {
    @include triangle('left', 80%, 'initial', $adjust, $color);
  }
}

.triangle-left-top {
  margin-left: $margin;
  &:before {
    @include triangle('right', 20%, $adjust-outline, 'initial', $color-outline);
  }
  &:after {
    @include triangle('right', 20%, $adjust, 'initial', $color);
  }
}
.triangle-left-middle {
  margin-left: $margin;
  &:before {
    @include triangle('right', 42%, $adjust-outline, 'initial', $color-outline);
  }
  &:after {
    @include triangle('right', 42%, $adjust, 'initial', $color);
  }
}
.triangle-left-bottom {
  margin-left: $margin;
  &:before {
    @include triangle('right', 72%, $adjust-outline, 'initial', $color-outline);
  }
  &:after {
    @include triangle('right', 72%, $adjust, 'initial', $color);
  }
}
